.admin-detail-header {
    margin: 0 auto;
    padding: 80px 0 30px 0;
    width: 60%;
}

.admin-header-title {
    margin: 0;
    padding: 0 20px;
    border-left: 10px solid #000000;
}


/* 勤怠詳細内容 */
.admin-detail-list {
    margin: 30px auto;
    width: 60%;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.admin-detail-table__inner {
    width: 100%;
}

.admin-detail-table__row {
    table-layout: fixed;
}

.admin-detail-table__row th {
    padding: 0 50px;
    text-align: left;
    color: #737373;
    font-weight: bold;
    width: 35%;
    height: 90px;
    border-bottom: 2px solid #e1e1e1;
}

.admin-detail-table__row:last-child th {
    border-bottom: none;
}

.admin-detail-table__row td {
    border-bottom: 2px solid #e1e1e1;
}

.admin-detail-table__row:last-child td {
    border-bottom: none;
}

/* 名前 */
.admin-detail-name {
    padding: 12px;
    font-size: 16x;
    font-weight: bold;
}

/* 日付 */
.admin-detail-date {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 3px;
}

.admin-detail-date p {
    margin: 0;
    width: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* 出勤・退勤・休憩input共通 */
.time-input {
    margin: 0;
    width: 85px;
    padding: 0 12px;
    border: 1.5px solid #e1e1e1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

/* input・textareaがdisabledの時枠無し */
.time-input:disabled,
.admin-detail-table__inner textarea:disabled {
    border: none;
    background-color: #fff;
}

/* ～ */
.hyphen {
    font-weight: bold;
}

/* 出勤・退勤 */
.admin-detail-attendance {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

/* 休憩 */
.admin-detail-break {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.admin-detail-break p input {
    font-weight: bold;
}

/* 備考 */
.admin-detail-table__inner textarea {
    padding: 10px;
    height: 70px;
    width: 60%;
    padding: 20px 15px;
    border: 1.5px solid #e1e1e1;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    resize: none;
}

/* 修正ボタン */
.admin-detail-button {
    margin: 0 auto;
    width: 60%;
    text-align: right;
    height: 50px;
}

.admin-detail-button__submit {
    background: #000000;
    height: 100%;
    width: 100px;
    line-height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/* 承認待ちメッセージ */
.waiting-message {
    margin: 0 auto;
    width: 60%;
    color: #f87879;
    font-weight: bold;
    text-align: right;
}

/* * {
    border: 1px solid red;
} */