/* 勤怠一覧画面（管理者） */

.admin-list-header {
    margin: 0 auto;
    padding: 80px 0 40px 0;
    width: 60%;
}

.admin-header-title {
    margin: 0;
    padding: 0 20px;
    border-left: 10px solid #000000;
}


/* 日表示 */
.date {
    margin: 0 auto;
    width: 60%;
    background: #fff;
    border: none;
    border-radius: 10px;
}

.date-logo {
    height: 25px;
    width: 25px;
    margin-right: 7px;
    padding-bottom: 3px;
}

.date-swith {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.date-swith a {
    color: #737373;
    font-weight: bold;
    text-decoration: none;
}

.now-date {
    font-weight: bold;
    font-size: 20px;
}

/* 矢印 */
.arrow {
    color: #b3b3b3;
    font-weight: 900;
    font-size: 20px;
    padding: 0 10px;
}


/* 勤怠一覧 */
.admin-list-inner {
    margin: 50px auto;
    width: 60%;
    background: #fff;
    border: none;
    border-radius: 10px;
}

.admin-list-table__inner {
    width: 100%;
    table-layout: fixed;
}

.admin-list-table__row th {
    padding: 10px 0;
    color: #737373;
    font-weight: bold;
    border-bottom: 3px solid #e1e1e1;
}

.admin-list-table__row th:nth-child(1) {
    width: 25%;
}

.admin-list-table__row th:nth-child(2),
.admin-list-table__row th:nth-child(3),
.admin-list-table__row th:nth-child(4),
.admin-list-table__row th:nth-child(5),
.admin-list-table__row th:nth-child(6) {
    width: 15%;
}

.admin-list-table__row td {
    padding: 10px 0;
    color: #737373;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #e1e1e1;
}

.admin-list-table__row:last-child td {
    border-bottom: none;
}

/* 詳細ボタン */
.admin-list-table__row td a {
    padding: 10px 0;
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
