.login-form__content {
    max-width: 1230px;
    padding: 10px;
    margin: 0 auto;
}

/* ログインロゴ */
.login-form__heading {
    margin: 30px auto;
    width: 40%;
}

.login-form__heading h1 {
    text-align: center;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-weight: bold;
}



/* ログインフォーム */
.form {
    width: 40%;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 20px;
}

.form__label--item {
    font-weight: bold;
}

.form__input--text {
    height: 40px;
}

.form__input--text input {
    width: 100%;
    height: 100%;
    border: 1px solid #828282;
    border-radius: 3px;
    outline: none;
}


/* ログインボタン */
.form__button {
    margin-top: 50px;
    height: 40px;
}

.form__button-submit {
    width: 100%;
    height: 100%;
    background: #000000;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/* 会員登録リンクボタン */
.register__link {
    width: 40%;
    margin: 30px auto;
    text-align: center;
}

.register__link a {
    color: #0073cc;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}