.staff-list-content {
    max-width: 800px;
    padding-inline: 1rem;
    margin-inline: auto;
}

.staff-list-header {
    margin: 0 auto;
    padding: 70px 0 40px 0;
    width: 100%;
}

.staff-list-header__title {
    margin: 0;
    padding: 0 20px;
    border-left: 10px solid #000000;
}


/* スタッフ一覧 */
.staff-list-inner {
    margin: 20px auto;
    width: 100%;
    background: #fff;
    border: none;
    border-radius: 10px;
}

.staff-list-table__inner {
    width: 100%;
    table-layout: fixed;
}

.staff-list-table__row th {
    padding: 10px 0;
    color: #737373;
    font-weight: bold;
    border-bottom: 3px solid #e1e1e1;
}

.staff-list-table__row th:nth-child(2) {
    width: 40%;
}

.staff-list-table__row th:nth-child(1),
.list-table__row th:nth-child(3) {
    width: 30%;
}

.staff-list-table__row td {
    padding: 10px 0;
    color: #737373;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #e1e1e1;
}

.staff-list-table__row:last-child td {
    border-bottom: none;
}

/* 詳細ボタン */
.staff-list-table__row td a {
    padding: 10px 0;
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
