.approve-detail-header {
    margin: 0 auto;
    padding: 80px 0 30px 0;
    width: 60%;
}

.header-title {
    margin: 0;
    padding: 0 20px;
    border-left: 10px solid #000000;
}


/* 勤怠詳細内容 */
.approve-detail-list {
    margin: 30px auto;
    width: 60%;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.approve-detail-table__inner {
    width: 100%;
}

.approve-detail-table__row {
    table-layout: fixed;
}

.approve-detail-table__row th {
    padding: 0 50px;
    text-align: left;
    color: #737373;
    font-weight: bold;
    width: 35%;
    height: 90px;
    border-bottom: 2px solid #e1e1e1;
}

.approve-detail-table__row:last-child th {
    border-bottom: none;
}

.approve-detail-table__row td {
    border-bottom: 2px solid #e1e1e1;
}

.approve-detail-table__row:last-child td {
    border-bottom: none;
}

/* 名前 */
.approve-detail-name {
    padding: 12px;
    font-size: 16x;
    font-weight: bold;
}

/* 日付 */
.approve-detail-date {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 3px;
}

.approve-detail-date p {
    margin: 0;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

/* ～ */
.hyphen {
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* 出勤・退勤 */
.approve-detail-attendance {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.approve-detail-attendance p {
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
}

/* 休憩 */
.approve-detail-break {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    width: 60%;
    font-weight: bold;
}

/* 備考 */
.remark {
    padding: 10px;
    height: 70px;
    width: 60%;
    padding: 20px 15px;
    border-radius: 3px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    resize: none;
}

/* 承認ボタン */
.approve-detail-button {
    margin: 0 auto;
    width: 60%;
    text-align: right;
    height: 50px;
}

.detail-button__submit {
    background: #000000;
    height: 100%;
    width: 100px;
    line-height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.detail-button__disabled {
    background: #696969;
    height: 100%;
    width: 100px;
    line-height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* * {
    border: 1px solid red;
} */