/* 申請一覧（一般） */

.corrections-list-header {
    margin: 0 auto;
    padding: 80px 0 40px 0;
    width: 60%;
}

.corrections-header-title {
    margin: 0;
    padding: 0 20px;
    border-left: 10px solid #000000;
}

/* 承認待ち・済みボタン */
.approve {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1.5px solid #000000;
    display: flex;
    justify-content: left;
}

.approve-list {
    margin: 10px 0 15px 50px;
}

.approve-list a {
    border: none;
    font-size: 18px;
    text-decoration: none;
}

.tab {
    color: #000000;
    font-weight: normal;
}

.tab.active {
    font-weight: bold;
}

/* 申請一覧 */
.corrections-list-inner {
    margin: 50px auto;
    width: 60%;
    background: #fff;
    border: none;
    border-radius: 10px;
}

.corrections-list-table__inner {
    width: 100%;
    table-layout: fixed;
}

.corrections-list-table__row th {
    padding: 10px 0;
    color: #737373;
    font-weight: bold;
    border-bottom: 3px solid #e1e1e1;
}

.corrections-list-table__row th:nth-child(6) {
    width: 20%;
}

.corrections-list-table__row th:nth-child(2),
.corrections-list-table__row th:nth-child(3),
.corrections-list-table__row th:nth-child(4),
.corrections-list-table__row th:nth-child(5),
.corrections-list-table__row th:nth-child(1) {
    width: 16%;
}

.corrections-list-table__row td {
    padding: 10px 0;
    color: #737373;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #e1e1e1;
}

.corrections-list-table__row:last-child td {
    border-bottom: none;
}

/* 詳細ボタン */
.corrections-list-table__row td a {
    padding: 10px 0;
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}