.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo img {
    color: #fff;
    width: 300px;
    height: auto;
}

.header__utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__utilities nav {
    width: 70%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
    gap: 30px;
}

.header-nav a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* ログアウトボタン */
.header-nav__button {
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #f0eff2;
}
