.detail-content {
    max-width: 800px;
    padding-inline: 1rem;
    margin-inline: auto;
}

.detail-header {
    margin: 0 auto;
    padding: 70px 0 20px 0;
    width: 100%;
}

.header-title {
    margin: 0;
    padding: 0 20px;
    border-left: 10px solid #000000;
}

/* 勤怠詳細内容 */
.detail-list {
    margin: 30px auto;
    width: 100%;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.detail-table__inner {
    width: 100%;
}

.detail-table__row {
    table-layout: fixed;
}

.detail-table__row th {
    padding: 0 50px;
    text-align: left;
    color: #737373;
    font-weight: bold;
    width: 35%;
    height: 90px;
    border-bottom: 2px solid #e1e1e1;
}

.detail-table__row:last-child th {
    border-bottom: none;
}

.detail-table__row td {
    border-bottom: 2px solid #e1e1e1;
    padding: 0;
}

.detail-table__row:last-child td {
    border-bottom: none;
}

/* 名前 */
.detail-name {
    padding: 12px;
    font-size: 16x;
    font-weight: bold;
}

/* 日付 */
.detail-date {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 3px;
}

.detail-date p {
    margin: 0;
    width: 80px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* エラー */
.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

/* 出勤・退勤・休憩input共通 */
.time-input {
    margin: 20px 0 0 0;
    width: 85px;
    padding: 2px 20px;
    border: 1.5px solid #e1e1e1;
    border-radius: 3px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}

/* input・textareaがdisabledの時枠無し */
.time-input:disabled,
.detail-table__inner textarea:disabled {
    border: none;
    background-color: #fff;
}

/* ～ */
.hyphen {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

/* 出勤・退勤 */
.detail-attendance {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

/* 休憩 */
.detail-break {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.detail-break p input {
    font-weight: bold;
}

/* 備考 */
.detail-table__inner textarea {
    margin: 15px 0 0 0;
    padding: 10px;
    height: 70px;
    width: 60%;
    padding: 20px 15px;
    border: 1.5px solid #e1e1e1;
    border-radius: 3px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    resize: none;
    overflow: hidden;
}

/* 修正ボタン */
.detail-button {
    margin: 0 auto;
    width: 100%;
    text-align: right;
    height: 50px;
}

.detail-button__submit {
    background: #000000;
    height: 100%;
    width: 100px;
    line-height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/* 承認待ちメッセージ */
.waiting-message {
    margin: 0 auto;
    width: 100%;
    color: #f87879;
    font-weight: bold;
    text-align: right;
}
